{% if messages %}

<style type="text/css">
  div.messages {
    color: #f7fff7;
  }
  ul.messages {
    list-style-type: none;
  }
</style>

<div class="messages">
  <ul class="messages p-0" id="message-log" style="margin-top: -30px">
    {% for message in messages %}
    <li {% if message.tags %} class="bg-{{ message.tags }} p-3" {% endif %}>
      {% if "html_safe" in message.tags %}
      <!-- messages -->
      {{ message|safe }}
      <!-- messages -->
      {% else %}
      <!-- messages -->
      {{message|safe }}
      <!-- messages -->
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
