{% extends "dashboard/admin-base.html" %} {% load static %}
<!--starts here-->
{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product List</h1>
    <div>
      <a
        href="#"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      >
        <i class="fas fa-download fa-sm text-white-50"></i>
        Add Product
      </a>
      <a
        href="{% url "dashboard:shopify-sync" %}"
        class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
      >
        <i class="fas fa-sync fa-sm text-white-50"></i>
        Synchronise with Shopify
      </a>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="{% url "dashboard:products" %}" style="float:left;" class="nav-link mr-4 panel-tab">
      <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
      </a>
      <a href="{% url "dashboard:products" %}?top=yes" style="float:left;" class="nav-link mr-4 panel-tab">
      <h6 class="m-0 font-weight-bold text-primary">Top Seller</h6>
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered table-hover"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">slug</th>
              <th scope="col">Image</th>
              <th scope="col">Name and Variants name</th>
              <th scope="col">Variants count</th>
              <th scope="col">Starting Price</th>
              <th scope="col">Inventory Quantity</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th scope="col">slug</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Variants count</th>
              <th scope="col">Starting Price</th>
              <th scope="col">Inventory Quantity</th>
            </tr>
          </tfoot>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row"><a href="{% url "dashboard:product-edit" product.slug %}">{{ product.slug }}</a></th>
              <td>
                <img src="{% if product.main_image %}{{product.main_imageteam}}{% endif %}" style="width: 50px" />
              </td>
              <td>
                <strong>{{ product.name }}</strong><br />
                {% for variant in product.variants.all %}
                <!-- option name & value -->
                <small
                  >{{ variant_name}}  -
                  {{variant.sku}}</small
                ><br />
                <!-- end of forloop -->
                {% endfor %}
              </td>
              <td>
                {{ product.variants.count }}
                <!-- If condition -->
              </td>
              <td>£ {{ product.lowest_variant_price }}</td>
              <td>{{ product.variants.first.inventory_quantity }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        <!-- end of new table-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
