{% extends "dashboard/admin-base.html" %} {% load static %}
<!--starts here-->
{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product List</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    >
      <i class="fas fa-download fa-sm text-white-50"></i>
      Add Product
    </a>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="{% url "dashboard:products" %}" style="float:left;" class="nav-link mr-4 panel-tab">
      <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
      </a>
      <a href="{% url "dashboard:products" %}?top=yes" style="float:left;" class="nav-link mr-4 panel-tab">
      <h6 class="m-0 font-weight-bold text-primary">Top Seller</h6>
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered table-hover"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">slug</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Variants</th>
              <th scope="col">Starting Price</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th scope="col">slug</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Variants</th>
              <th scope="col">Starting Price</th>
            </tr>
          </tfoot>
          <tbody>
            {% for product in product_categories %}
            <tr>
              <th scope="row"><a href="{% url "dashboard:product-edit" product.slug %}">{{ product.slug }}</a></th>
              <td>
                <img src="{{product.main_image}}" style="width: 50px" />
              </td>
              <td>
                <strong>{{ product.name }}</strong><br />
                {% for p in product.products.all %}
                <!-- option name & value -->
                <small
                  >{{ p.option_name}} {{ p.option_value}} -
                  {{p.product_code}}</small
                ><br />
                <!-- end of forloop -->
                {% endfor %}
              </td>
              <td>
                {{ product.products.count }}
                <!-- If condition -->
              </td>
              <td>£ {{ product.lowest_variant_price }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>

        <!-- end of new table-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
