{% extends "dashboard/admin-base.html" %}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}
<!--starts here-->
{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css"
/>
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      {{product_form.instance.name}} - 
      <!-- form inputs -->
      {{product_form.instance.sub_title }}
    </h1>
  </div>
</div>

<!-- container with rows -->
{% if product_form.errors %}
  {% for field in product_form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
  {% endfor %}
  {% for error in product_form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
  {% endfor %}
{% else %}
<!-- Bigger row -->
<form method="post" id="productForm">
  <div class="row p-4">
    <!-- Longer row -->
    <div class="col-8">
      <!-- first card -->
      <div class="card shadow mb-4">
        <div class="card-body">
          {% csrf_token %}
          <!-- form inputs -->
          {{ product_form.name | as_crispy_field }}
          <!-- form inputs -->
          {{ product_form.sub_title | as_crispy_field }}

          <!-- form inputs -->
          {{ product_form.description | as_crispy_field }}
        </div>
      </div>
      <!-- direction_of_use -->
      <div class="card shadow mb-4">
        <div class="card-body">
          <!-- form inputs -->
          {{ product_form.direction_of_use | as_crispy_field }}
        </div>
      </div>
      <!-- variants -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="font-weight-bold text-primary pt-2">Variants</h5>
            <a class="btn btn-light text-primary" onclick="createAnEmptyVariant()">CREATE VARIANT</a>
          </div>
        </div>
        <div class="card-body">
          <!-- form inputs -->
          {% for variant in variant_forms %}
          <section id="variantsParent">
            <div id="variantForm">
            <div class="form-row">
              <div class="col">
                  {{variant.sku | as_crispy_field}}
              </div>
              <div class="col">
                  {{variant.name | as_crispy_field}}
              </div>
              <div class="col">
                  {{variant.size | as_crispy_field}}
              </div>
              <div class="col">
                <div class="form-group">
                  <label >Get the price and Shopify IDs</label>
                  <a class="btn btn-light text-primary">Synchronise</a>
                </div>
              </div>
            </div>
            <!-- Secondary hidden information row with dropdown -->

              <div id="accordion">
                <div data-toggle="collapse" data-target="#collapse{{variant.instance.pk}}" aria-expanded="true" aria-controls="collapseOne" class="separator link" style="cursor: pointer;">
                 SHOPIFY & MORE
                </div>
                <div id="collapse{{variant.instance.pk}}" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="form-row mt-2 bg-light p-1">
                      <div class="col">
                        {{variant.price | as_crispy_field}}
                      </div>
                      <div class="col">
                        {{variant.shopify_rest_variant_id | as_crispy_field}}
                      </div>
                      <div class="col">
                        {{variant.shopify_storefront_variant_id | as_crispy_field}}
                      </div>
                  </div>
                </div>
              </div>

             <hr/>
             </div>
            </section>
          {% endfor %}
        </div>
      </div>

      <!-- End of direction of use card -->
    </div>
    <!-- End of column -->

    <!-- Second column -->
    <div class="col-4">
      <div class="card shadow mb-4">
        <div class="card-body">
          <!-- form inputs -->
          {{ product_form.top_seller | as_crispy_field }}
          <!-- form inputs -->
          {{ product_form.slug | as_crispy_field }}
          <!-- form inputs -->
          {{ product_form.types | as_crispy_field }}
          <a href="{% url "dashboard:collection-add" %}" class="btn btn-sm btn-light text-primary mb-2">ADD TYPE</a><br/>
          <label>Tags</label>
          <input
            class="mb-3"
            id="tagholder"
            name="editable_form"
            placeholder="write some tags"
            value="{{ tags }}"
          />
          <input type="hidden" name="tagslist" id="tags" />
          {{ product_form.collections | as_crispy_field }}
          <a href="{% url "dashboard:collection-add" %}" class="btn btn-sm btn-light text-primary">ADD COLLECTION</a>
        </div>
      </div>
      <!-- Product Image card-->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Images</h6>
        </div>
        <div class="card-body">
          <p>Editing option will be added soon</p>

          <div class="d-flex">
          {% for image in product_form.instance.all_images %}
            <img src="{{image.image.url}}" width="80px"/>
            {% endfor %}
              <div style="display:block;width:80px;" class="bg-light">
                <p style="font-size:4rem;text-align:center;">+</p>
              </div>
          </div>
        </div>
      </div>
      <!-- SEO Card -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">SEO</h6>
          </div>
        <div class="card-body">
          <label>Keywords</label>
          <input
            class="mb-3"
            id="keywordholder"
            name="editable_form"
            placeholder="write some keywords"
            value="{{ keywords }}"
          />
        </div>
        
      </div>
      <!-- End of SEO Card -->
    </div>
    <!-- End of Row -->
  </div>

  <!-- new row for variations -->
  <div class="row p-4">
    <div class="row" id="itemRow">
        
    <div class="col-12">
      <!-- Save button -->
      <div class="mb-4 float-right">
        <button
          href="#"
          type="submit"
          
          class="d-none d-sm-inline-block btn btn-success shadow-sm"
        >
          <i class="fas fa-download fa-sm text-white-50"></i>
          Save
        </button>
      </div>
      <!-- end of Save button -->
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.7.3/dist/tagify.min.js"></script>
<script>
  // Tagify code for tags
  var inputElm = document.getElementById('tagholder'),
      tags = document.getElementById('tags')
   tagify = new Tagify (inputElm, {
          whitelist : {{ available_tags | safe }},
          dropdown : {
              classname     : "color-blue",
              enabled       : 0,              // show the dropdown immediately on focus
              maxItems      : 5,
              position      : "text",         // place the dropdown near the typed text
              closeOnSelect : false,          // keep the dropdown open after selecting a suggestion
              highlightFirst: true
          }
      });
  inputElm.addEventListener('change', onChange)
  tags.value = inputElm.value
  function onChange(e){
    // outputs a String
    tags.value = e.target.value
  }
  // Tagify code for keywords
    var keywordInput = document.getElementById('keywordholder')
    var keywords = document.getElementById('keywords')
   keywordify = new Tagify (keywordInput, {
          whitelist : {{ available_keywords | safe }},
          dropdown : {
              classname     : "color-blue",
              enabled       : 0,              // show the dropdown immediately on focus
              maxItems      : 5,
              position      : "text",         // place the dropdown near the typed text
              closeOnSelect : false,          // keep the dropdown open after selecting a suggestion
              highlightFirst: true
          }
      });
  keywordInput.addEventListener('change', keywordChange)
  keywords.value = keywordInput.value
  function keywordChange(e){
    // outputs a String
    keywords.value = e.target.value
  }
</script>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script>

// creating new variant form
function createAnEmptyVariant() {
  const variantForm = document.getElementById('variantForm');
  const variantsParent = document.getElementById("variantsParent");
  let newVariant = variantForm.cloneNode(true);
  // we remove the values of the inputs by selecting all the existing inputs
  let allInputs = newVariant.querySelectorAll('input')
  for(let i = 0; i < allInputs.length; i++){
    allInputs[i].value = "";
  }
  variantsParent.lastElementChild.appendChild(newVariant);

}


</script>
{% endblock %}
