{% extends "dashboard/admin-base.html" %} {% load static %}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}

<!--extra head here-->
{% block extra_head %}
<link
  href="https://unpkg.com/filepond/dist/filepond.css"
  rel="stylesheet"
  type="text/css"
/>
<style></style>
{% endblock %}
<!--starts here-->
{% block content %}
<div class="container-fluid">
  <input type="file" class="my-pond" name="filepond" />
</div>
{% endblock %}
<!-- Extra scripts-->
{% block extra_scripts %}
<!-- include jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

<!-- include FilePond library -->
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

<!-- include FilePond plugins -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-rename/dist/filepond-plugin-file-rename.js"></script>

<!-- include FilePond jQuery adapter -->
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<script>
  $(function () {
    // First register any plugins
    $.fn.filepond.registerPlugin(FilePondPluginImagePreview);
    $.fn.filepond.registerPlugin(FilePondPluginFileRename);
    $.fn.filepond.registerPlugin(FilePondPluginImageCrop);

    // Turn input element into a pond
    $(".my-pond").filepond({
      allowMultiple: true,
      allowImagePreview: true,
      allowImageCrop: true,
    });

    $(".my-pond").setOptions({
      fileRenameFunction: (file) => {
        return `my_new_name${file.extension}`;
      },
    });

    // Set allowMultiple property to true
    $(".my-pond").filepond("allowMultiple", true);

    // Listen for addfile event
    $(".my-pond").on("FilePond:addfile", function (e) {
      console.log("file added event", e);
    });

    // Manually add a file using the addfile method
    $(".my-pond")
      .first()
      .filepond("addFile", "index.html")
      .then(function (file) {
        console.log("file added", file);
      });
  });
</script>

{% endblock %}
