{% extends "dashboard/admin-base.html" %} {% load static %}
<!-- loading crispy forms -->
{% load crispy_forms_tags %}
<!--starts here-->
{% block content %}
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tag</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="POST">
          {% csrf_token %}
          <!-- end of new table-->
          {{ form.name | as_crispy_field }}
          <!-- fields-->
          {% if form.instance.icon %}
          <img src="{{form.instance.icon.url}}" width="70px" />
          {% endif %}
          <!-- fields-->
          {{ form.icon | as_crispy_field }}
          <!-- fields-->
          <button type="submit" class="btn btn-lg btn-primary">Save</button>
        </form>

        <!-- end of new table-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
