# General settings
DEBUG=True
PRODUCTION_ENVIRONMENT=False
SECRET_KEY=<SECRET_KEY>
BRAND_NAME=<BRAND_NAME>

# Email settings
EMAIL_HOST=smtp.ionos.co.uk
EMAIL_PORT=587
EMAIL_HOST_USER=<EMAIL_HOST_USER>
EMAIL_HOST_PASSWORD=<EMAIL_HOST_PASSWORD>
DEFAULT_FROM_EMAIL=<DEFAULT_FROM_EMAIL>
EMAIL_SUBJECT_PREFIX=<EMAIL_SUBJECT_PREFIX>
SERVER_EMAIL=<SERVER_EMAIL>
DJANGO_ADMINS=<DJANGO_ADMINS>
DJANGO_MANAGERS=<DJANGO_MANAGERS>
DEFAULT_CUSTOMER_SERVICE_EMAIL=<DEFAULT_CUSTOMER_SERVICE_EMAIL>
DEFAULT_MARKETING_EMAIL=<DEFAULT_MARKETING_EMAIL>
VALID_STAFF_EMAIL_DOMAINS=<VALID_STAFF_EMAIL_DOMAINS>

# Shopify settings
SHOPIFY_SHARED_SECRET_KEY=<SHOPIFY_SHARED_SECRET_KEY>
SHOPIFY_PASSWORD=<SHOPIFY_PASSWORD>
SHOPIFY_API_VERSION=<SHOPIFY_API_VERSION>
SHOPIFY_DOMAIN=<SHOPIFY_DOMAIN>

# Meta settings
FACEBOOK_APP_ID=<ID>
FACEBOOK_APP_SECRET=<SECRET>
INSTAGRAM_APP_ID=<INSTA>
INSTAGRAM_APP_SECRET=<SECRET>
INSTAGRAM_USER_ID=<ID>
INSTAGRAM_INSTANT_TOKEN_API=<API>

# Amazon settings
USE_S3=True
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_STORAGE_BUCKET_NAME=<AWS_STORAGE_BUCKET_NAME>

# Host settings
CORS_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:80,http://localhost,http://127.0.0.1:8000,http://localhost:3000
ALLOWED_HOSTS=*
BACKEND_ADDRESS=<BACKEND_ADDRESS>
WEBSITE_ADDRESS=<WEBSITE_ADDRESS>
CSRF_COOKIE_DOMAIN=<CSRF_COOKIE_DOMAIN>
DOMAIN=<DOMAIN>
SITE_NAME=<SITE_NAME>

# MySQL settings
MYSQL_DB_NAME=<MYSQL_DB_NAME>
MYSQL_USER_NAME=<USER>
MYSQL_PASSWORD=<PASS>

# PostgreSQL settings
DB_ENGINE=<DB_ENGINE>
DB_NAME=<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_OPTIONS=<DB_OPTIONS>

# Redis settings
REDIS_HOST=<REDIS_HOST>
RABBITMQ_HOST=<RABBITMQ_HOST>

# Recaptcha settings
DRF_RECAPTCHA_SECRET_KEY=<DRF_RECAPTCHA_SECRET_KEY>
DRF_RECAPTCHA_PROXY=<DRF_RECAPTCHA_PROXY>

# IP info settings
IP_INFO_TOKEN=<IP_INFO_TOKEN>

# Mailchimp settings
MAILCHIMP_TRANSACTIONAL_API_KEY=<MAILCHIMP_TRANSACTIONAL_API_KEY>
MAILCHIMP_MARKETING_API_KEY=<MAILCHIMP_MARKETING_API_KEY>
MAILCHIMP_SERVER_PREFIX=<MAILCHIMP_SERVER_PREFIX>

# Mailjet settings
MAILJET_API_KEY=<MAILJET_API_KEY>
MAILJET_SECRET_KEY=<MAILJET_SECRET_KEY>

# Other settings
LOST_PRODUCT_IMAGE_PATH=<LOST_PRODUCT_IMAGE_PATH>
INSTAGRAM_IMAGES_PATH=<INSTAGRAM_IMAGES_PATH>
REVIEW_RATE_COOKIE_KEY=<REVIEW_RATE_COOKIE_KEY>

# Docker settings
BRAND_DIR_NAME=<BRAND_DIR_NAME>
